/* Simple reset */
body {
    margin: 0 auto;
    padding: 1em;
    background: #2B3134;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
}

#container {
	margin: 25px;
}

#gameboard {
	margin-top: 20px;
	margin-left: 20px;
}

.segment {
	stroke-width: 15;
	stroke: #cccccc;
}

.segment:hover {
	stroke-width: 15;
	stroke: #ff9999;
}

.loader {
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}
.h1{
    margin: 1em 0;
    border-bottom: 1px dashed;
    padding-bottom: 1em;
    font-weight: lighter;
}